.signincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signin {
  margin-top: 50px;
  padding: 50px;
  width: 90%;
  border: 2px inset;
  border-radius: 5px;
}

.signin h1 {
  cursor: default;
  margin: 0;
  font-family: "Cinzel";
  font-weight: 500;
}

.signin h2 {
  cursor: default;
  margin: 0;
  text-align: center;
  font-family: "Cinzel";
  font-weight: 900;
  border-bottom: 2px inset;
  padding-bottom: 30px;
}

.signinoption {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.signinoption h3 {
  cursor: default;
  text-align: center;
  font-family: "Fauna One";
}
.signinoption h4 {
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}

.signinoption input {
  display: block;
  width: 100%;
  margin: 10px;
  height: 30px;
  border: 2px solid black;
  padding: 10px;
  font-weight: 600;
}

.viasocial {
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  padding: 30px;
  width: 33%;
}

.social {
  margin-top: 50px;
}
.social img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.viagoogle {
  color: rgb(219 68 55);
}
.vialinkedin {
  color: rgb(10, 102, 194);
}

.facebook {
  background-color: rgb(59, 89, 152);
  color: white;
}
.google {
  background-color: rgb(219 68 55);
  color: white;
}
.linkedin {
  background-color: rgb(10, 102, 194);
  color: white;
}

.password-toggle {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.password-toggle input {
  cursor: pointer;
  padding: 0;
  width: 6%;
}

.password-toggle h4 {
  cursor: default;
  font-size: 10px;
  margin: 0;
}

.social {
  display: flex;
  align-items: center;
}
.social h3 {
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  padding: 12px;
  height: 40px;
  margin: 0;
  width: 100%;
}
.withemail {
  padding: 30px;
  width: 33%;
}

.forgotpassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.withemail a {
  margin-top: 20px;
  cursor: pointer;
  font-size: 13px;
}

.createnewaccount {
  border-left: 2px solid black;
  padding: 30px;
  width: 33%;
}

.signinoption .button {
  height: 40px;
  cursor: pointer;
  margin-top: 30px;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 0;
  font-size: 15px;
  text-align: center;
}

@media only screen and (min-width: 699px) and (max-width: 1100px) {
  .signinoption {
    flex-direction: column;
    width: 100%;
  }
  .viasocial {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
  }
  .withemail {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
  }
  .createnewaccount {
    border: none;
    width: 100%;
  }
}

@media only screen and (min-width: 298px) and (max-width: 698px) {
  .signinoption {
    flex-direction: column;
    width: 100%;
  }
  .viasocial {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
  }

  .viasocial a {
    margin: 0;
    margin-top: 30px;
    margin-right: 5px;
    font-size: 30px;
  }

  .viasocial .social h3 {
    margin-top: 30px;
    padding-top: 8px;
    font-size: 10px;
    height: 27px;
  }

  .withemail {
    border: none;
    width: 100%;
    border-bottom: 2px solid black;
  }
  .createnewaccount {
    border: none;
    width: 100%;
  }
  .password-toggle input {
    cursor: pointer;
    padding: 0;
    width: 10%;
  }
}
